// ============================================================================================================
// 1. RESPONSIVE / MEDIA QUERIES MIXIN
// ============================================================================================================


$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px
);

@mixin respond-to($breakpoint-key) {
    @if(map-has-key)($breakpoints, $breakpoint-key) {
        @media (max-width: map-get($breakpoints, $breakpoint-key)){
            @content;
        }
    }
    @else{
        @warn "Did not found Breakpoint '#{$breakpoint-key}'";
    }
}


// ============================================================================================================
// 2. Quick Flexbox Alignment
// ============================================================================================================

@mixin flex-layout($justify: center, $align: center, $direction: row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}