 
.s-card {
    position: fixed;
    max-width: 420px;
    height: 80vh;
    width: 100%;
    border-radius: 50px;
    transition: all 0.5s ease-out;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10;
    pointer-events: auto;

    &--update-closed {
        box-shadow: 0 5px 5px var(--primary);
        background-color: var(--primary);
        color: var(--main-background);
        z-index: -10;
        opacity: 0;

        span {
            color: var(--main-background);
            position: absolute;
            z-index: 11;
        }
    }

    &--update-open {
        box-shadow: 50px 50px 90px var(--main-background);
        background-color: var(--primary);
        z-index: 10;
        opacity: 1;

        

        span {
            top: 20px;
            left: 48%;
            position: absolute;
            right: -8px;
            z-index: 11;
            color: var(--main-background);
        }
        button{
            margin: 20px 40px;
            
        }
         
    }

}