// ============================================= Small Table =============================================
// 1. Side small Table for Expense
// ============================================= Small Table =============================================


.side-table-exp {
    background-image: linear-gradient(45deg, rgb(145, 104, 29) 10%, rgb(218, 131, 18) 45%, rgb(95, 70, 22) 100%);
    width: 100%;

    thead {
        color: var(--main-background);
        padding: 10px;
        text-align: center;
        background-color: var(--font-color-main);
    }

    tbody {
    color: var(--border-color);            
            text-align: center;
    }
}



// ============================================= Main Table =============================================
// 1. Main Expense Table
// ============================================= Main Table =============================================




.main-exp-table {
    width: 100%;

    thead {
        padding: 10px;
        text-align: center;

    }

    tbody {
        padding: 10px;
        text-align: center;

    }
}